h2 {
    font-size: 3rem;
}

.img {
    width: 95%;
    max-width: 600px;
    transition: all 1.5s ease-in;
}

section {
    background-color: rgb(197, 109, 105);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section-2 {
    background-color: #fff;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}
