h2 {
    font-size: 3rem;
}

.section-0 {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-1 {
    background-color: rgb(197, 109, 105);
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-2 {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-3 {
    background-color: rgb(197, 109, 105);
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-4 {
    background-color: blue;
    height: 100vh;
    width: 100vw;
    top: 0vh;
    position: sticky;
    display: inline-block;
}

.section-4-alt {
    background-image: url(crowd.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-5 {
    background-color: rgb(197, 109, 105);
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-6 {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sticky-panel {
    position: relative;
    width: 200vw;
    aspect-ratio: auto;
    display: inline-block;
    z-index: 0;
}

.camera {
    background-image: url(total_view_fixed_centered4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4000%;
    top: -156vh;
    left: 0vw;
    display: inline-block;
    position: relative;
    align-self: center;
    height: 100vh;
    width: 100vw;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

.top-banner {
    background: white;
    position: relative;
    top: -4vh;
    height: 15vh;
    width: 100vw;
    display: inline-block;
    z-index: 1;
}

.left-banner {
    background: white;
    position: relative;
    top: -20vh;
    left: 0vw;
    height: 100vh;
    width: 20vw;
    display: inline-block;
    transform: translateX(0vw);
    z-index: 1;
}

.right-banner {
    background: white;
    position: relative;
    top: -20vh;
    right: -60vw;
    height: 100vh;
    width: 20vw;
    display: inline-block;
    z-index: 1;
}

.bottom-banner {
    background: white;
    position: relative;
    bottom: 40vh;
    height: 35vh;
    width: 100vw;
    display: inline-block;
}