h2 {
    font-size: 3rem;
}

.section-1 {
    background-color: rgb(197, 109, 105);
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-2 {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-3 {
    background-color: rgb(197, 109, 105);
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-4 {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/8/84/Le_Cou_de_la_girafe.jpg); 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0vh;
    position: sticky;
    margin: auto;
    display: inline-block;
}
.section-5 {
    background-color: rgb(197, 109, 105);
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.section-6 {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

.sticky-panel {
    position: relative;
    top: 0vw;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    z-index: 0;
}

.top-banner {
    background: white;
    position: relative;
    top: 0vw;
    height: 20vh;
    width: 100vw;
    display: inline-block;
    z-index: 1;
}

.left-banner {
    background: white;
    position: relative;
    top: -10vh;
    left: 0vw;
    right: 80vw;
    height: 100vh;
    width: 20vw;
    display: inline-block;
    transform: translateX(0vw);
    z-index: 1;
}

.right-banner {
    background: white;
    position: relative;
    top: -10vh;
    right: -60vw;
    height: 100vh;
    width: 20vw;
    display: inline-block;
    z-index: 1;
}

.bottom-banner {
    background: white;
    position: relative;
    bottom: 40vh;
    height: 35vh;
    width: 100vw;
    display: inline-block;
}